<div type="text/html" id="UserAdministrationTemplate">
    <table class="striped centered responsive-table" id="userlist">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Initials</th>
            <th>CPR</th>
            <th>Admin</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="userListRows">
        <!--{{#users}}-->
        <tr id="user-row-{{oprId}}">
            <td class="id">{{oprId}}</td>
            <td class="name">{{oprName}}</td>
            <td class="ini">{{ini}}</td>
            <td class="cpr">{{cpr}}</td>
            <td>
                <p>
                    <!--{{#admin}}-->
                    <input type="checkbox" class="admin" checked="checked" disabled/>
                    <!--{{/admin}}-->
                    <!--{{^admin}}-->
                    <input type="checkbox" class="admin" disabled/>
                    <!--{{/admin}}-->
                    <label></label>
                </p>
            </td>
            <td class="role">{{role}}</td>
            <td>
                <a class="btn-floating btn waves-effect waves-light red darken-2 delete-user" data-id="{{oprId}}"><i class="material-icons">delete</i></a>
                <a class="btn-floating btn waves-effect waves-light edit-user blue darken-1" data-id="{{oprId}}"><i class="material-icons">edit</i></a>
            </td>
        </tr>
        <!--{{/users}}-->
        </tbody>
    </table>
    <a class="btn-floating btn-medium waves-effect waves-light green darken-2 add-user"><i class="material-icons">add</i></a>
</div>